.intro {
  display: flex;
  flex-direction: column;
  margin: 92px auto 0;
  max-width: 830px;
  padding: 0 148px;
  box-sizing: content-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 24px;
    max-width: 100%;
    margin-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    padding: 0 16px;
    margin-top: 64px;
  }
}